body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    font-family: Arial, sans-serif;
    
    
    background: linear-gradient(90deg, #383838 30%, #EE3124 100%);
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}


.logo-box {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: white;
    padding: 10px;
    width: 80px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    z-index: 100;
}

.logo-box img {
    width: 100%;
    display: block;
}


.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px; 
}


.wheel-wrapper {
    position: relative; 
    width: 450px;      
    height: 450px;
}


.wheel-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    
    transition: transform 5s cubic-bezier(0.25, 0.1, 0.25, 1); 
}


.pointer {
    position: absolute;
    top: 50%;           
    right: -25px;       
    transform: translateY(-50%);
    
    
    width: 0; 
    height: 0; 
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 40px solid black; 
    
    z-index: 10; 
}


.btn-spin {
    background-color: #EE3124;
    color: white;
    font-size: 2rem;
    font-weight: 900; 
    font-family: "Impact", "Arial", sans-serif; 
    font-style: italic; 
    padding: 15px 60px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn-spin:hover {
    background-color: #21c912;
    transform: scale(1.05);
}