body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.banner-container {
    
    background-image: url('images/homme_sneakers_roue\ 2.png');
    
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
    
    width: 1536px;
    height: 724px; 
    
    
    display: flex;
    justify-content: center;
    align-items: flex-end;   
    
    padding-bottom: 50px;
    box-sizing: border-box;

    margin: auto;
}


.btn-cta {
    background-color: #EE3124; 
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    
   
    padding: 15px 40px;
    border-radius: 50px; 
    
    
    transition: transform 0.2s ease, background-color 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


.btn-cta:hover {
    background-color: #0aa016;
    transform: scale(1.05);
}

.logo-top-right {
    position: absolute; 
    top: 30px;          
    right: 30px;        
    width: 200px;       
    height: auto;       
    z-index: 10;        
}